@using System.Globalization
@using PhotoGallery.Helpers
@{
    ViewBag.Title = "Events";
}
@section scripts{
    
    @Scripts.Render("~/bundles/backbone")

    <script type="text/javascript" src="@Url.Content("~/Scripts/moment.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/eventCalendar/eventCalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.equalheights.js")"></script>
    
    <link href="@Url.Content("~/Content/EventCalendar.css")" rel="stylesheet">

    <script type="text/javascript">
        $(window).load(function() {
            $("#eventCalendar").calendarInit();
        });
    </script>
}

<div id="eventCalendar">
</div>
